input {
    beats {
        port => "5045"
    }
}

filter {
    grok {
        match => {
            "message" => "%{DATE:date} %{TIME:time} %{LOGLEVEL:log_level} %{LOG_MESSAGE:log_message}"
        }
        patterns_dir => [ "/app/config/patterns" ]
    }

    mutate {
        remove_field => [ "message" ]
    }
}

output {
    stdout { }
}